<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Write logs to a file -->
        <File name="FileLogger" fileName="logs/revhire.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </File>

        <!-- Optional: disable console logging -->
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5level %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Main logger: only log to file -->
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
            <!-- Remove the console logger if you don't want console output -->
            <!-- <AppenderRef ref="ConsoleLogger"/> -->
        </Root>
    </Loggers>
</Configuration>