body{
    background:#f4f7fe;
    font-family:'Segoe UI',sans-serif;
}

.sidebar{
    width:250px;
    height:100vh;
    position:fixed;
    background:linear-gradient(180deg,#4e73df,#224abe);
    color:white;
    padding:20px;
}

.sidebar h4{
    text-align:center;
}

.sidebar a{
    display:block;
    padding:12px;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin-bottom:5px;
}

.sidebar a:hover{
    background:rgba(255,255,255,0.2);
}

.content{
    margin-left:260px;
    padding:25px;
}

.card{
    border-radius:15px;
    border:none;
}

.modern-btn{
    border-radius:20px;
}