body {
    background-color: #f4f6f9;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
}

.form-box {
    max-width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.rule { font-size:14px; }
.invalid { color:red; }
.valid { color:green; }