<!DOCTYPE html>
<html>
<head>
<title>Applications</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">

<h2>
Applications 
<span class="badge bg-danger" id="notificationCount"></span>
</h2>

<!-- FILTER SECTION -->
<div class="card p-3 mb-4">
<h5>Filter Applicants</h5>

<div class="row">
<div class="col-md-3">
<input type="text" id="filterSkill" class="form-control" placeholder="Enter required skill (java)">
</div>

<div class="col-md-3">
<input type="text" id="filterEducation" class="form-control" placeholder="Enter education (btech)">
</div>

<div class="col-md-3">
<input type="number" id="filterExperience" class="form-control" placeholder="Minimum experience">
</div>

<div class="col-md-3">
<button class="btn btn-primary w-100" onclick="filterApplicants()">Filter</button>
</div>
</div>

</div>

<!-- APPLICATION TABLE -->
<table class="table table-bordered">
<thead>
<tr>
<th>Name</th>
<th>Skills</th>
<th>Education</th>
<th>Experience</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>
<tbody id="appTable"></tbody>
</table>

</div>

<script src="../../static/js/employer.js"></script>
</body>
</html>